.form__field {
  font-family: inherit;
  width: 100%;
  /*margin-bottom: 30px;*/
  padding: 0 0 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
}

.form__field:focus {
  outline: none;
  /* на макете нет фокуса а старый конфликтует с ошибкой ввода, so */
  /*outline: 2px solid black;*/
  /*outline-offset: 5px;*/
}

/*.form__field:invalid {*/
/*  border-bottom: 1px solid red;*/
/*}*/
